fastapi
uvicorn[standard]
gunicorn
sqlalchemy
alembic
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
google-generativeai
playwright
websockets
requests
python-docx
docxtpl
docxcompose
email-validator