fastapi
uvicorn[standard]
gunicorn
sqlalchemy
alembic
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
google-generativeai
playwright==1.54.0
websockets==15.0.1
requests
python-docx
docxtpl
docxcompose
email-validator
python-multipart
